
@charset "utf-8";
.Blog{
    color: black;
    background:blue;
    padding-left: 200px;
    font-size:40px;
    margin-left: 120px; 
    margin-right: 500px;
}
.Post{
    color: black;
    background-color:grey; 
    border: 2px solid black;
    
    height: 30px;
    color: black;
    margin-left: 120px;
    border-radius: 4px;
    
    
    font-size:20px;

}
.Title{
    color: black;
    
    padding-left: 120px;
    font-size:20px;

}
.TextBox{
    
    padding-left:10px;
    border: 2px solid black;
    border-radius: 4px;
    margin-left: 120px;
    margin-right: 500px;
}
.Content{
    padding-left: 120px;
}
.Box3{
    margin-left: 120px;
    margin-right: 500px;
    padding-left:10px;
    border: 2px solid black;
    border-radius: 4px;
 
    
    
}

.button {
    
    background-color:grey; 
    border: 2px solid black;
    
    height: 20px;
    color: black;
    margin-left: 120px;
    border-radius: 4px;
   
}
.Post1{
    padding-left: 120px;

}
.TextBox2{
    padding-left:10px;
    border: 2px solid black;
    border-radius: 4px;
    margin-left: 120px;
    margin-right: 500px;
}
.TextBox3{
    padding-left:10px;
    border: 2px solid black;
    border-radius: 4px;
    margin-left: 120px;
    margin-right: 500px;
}
